{% extends 'layout/default.html.twig' %}

{% block pageTitle %}New Course{% endblock %}

{% block title  %}New Course{% endblock %}

{% block breadcrumb %}Course{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-6">
			<div class="card card-primary">
				<div class="card-header">
					<h3 class="card-title">New Course</h3>
				</div>
				<div class="card-body">
					{{ include('course/_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}