{% extends 'layout/default.html.twig' %}

{% block pageTitle %}Edit product {% endblock %}

{% block title  %}Edit{% endblock %}

{% block breadcrumb %}Product{% endblock %}

{% block content %}
	<h1>Edit product</h1>

	{{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('product/_delete_form.html.twig') }}
	
{% endblock %}