{% extends 'layout/default.html.twig' %}

{% block pageTitle %}Edit product {% endblock %}

{% block title  %}Edit{% endblock %}

{% block breadcrumb %}Product{% endblock %}

{% block content %}
	<div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Edit Product</h3>
                </div>
                <div class="card-body">
                    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
    				{{ include('product/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}