{% extends 'layout/default.html.twig' %}

{% block pageTitle %}New User{% endblock %}

{% block title  %}New User{% endblock %}

{% block breadcrumb %}New User{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">New User</h3>
                </div>
                <div class="card-body">
                    {{ include('user/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}